h1{font-family: monospace;
    color: rgba(170, 13, 13, 0.808);
font-size: 3em;}
    h2{font-family: Arial, Helvetica, sans-serif;}
    body{
    background-color: black;}
     h3, h2, p, ul {
        color: white;
        
    }
    p, ul {
        font-size: 20px;
    }
    .link{
        text-decoration: none;
        color: rgb(24, 90, 15);
    }
    .item1{
color: yellow;
    }
    .item2{
color: blueviolet;
    }
    .item3{
color: rgba(30, 30, 190, 0.945);
    }
    .img {
        width: 400px;
        border-radius: 90%;

    }
    .logo {
        border-radius: 50%;
        width: 50px;
    }
    .instagram {
font-size: 50px;
text-decoration: none;

    }

     .logo, .instagram {
        display: inline-flex;
        
    }